<ul>
  <li>
    <a (click)="onSelectLink(SidenavNavigationType.home)">
      <mat-icon>home</mat-icon>
      Home
    </a>
  </li>
  <li>
    <a (click)="onSelectLink(SidenavNavigationType.search_history)">
      <mat-icon>history</mat-icon>
      Search History
    </a>
  </li>
  <li>
    <a (click)="onSelectLink(SidenavNavigationType.login)">
      <mat-icon>login</mat-icon>
      Log In
    </a>
  </li>
  <li>
    <a (click)="onSelectLink(SidenavNavigationType.search_bar)">
      <mat-icon>search</mat-icon>
      Search Bar
    </a>
  </li>
  <li>
    <a (click)="onSelectLink(SidenavNavigationType.new_user)">
      <mat-icon>account_box</mat-icon>
      Create New User
    </a>
  </li>
  <li>
    <a (click)="onSelectLink(SidenavNavigationType.user_preview)">
      <mat-icon>picture_in_picture</mat-icon>
      User Data Preview
    </a>
  </li>
  <li>
    <a (click)="onSelectLink(SidenavNavigationType.users_list)">
      <mat-icon>list_alt</mat-icon>
      List of Users
    </a>
  </li>
</ul>
