ul li {
  padding: 5px 30px;
  color: #2F3C7E;
}

ul li button {
  color: #2F3C7E;
  background-color: #e7e5ca;
}

.nav {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.nav__item {
  margin-right: 15px;
}
