:host {
  display: block;
  height: 100%;
}

ul li {
  display: grid;
  margin-left: 5px;
  padding: 5px 0;
  font-size: 14px;
  text-align: left;

  border-bottom: 2px solid #2F3C7E;
  transition-property: color, padding-bottom, padding-top, font-size, border-bottom-color;
  transition-duration: 0.5s;
}

ul li:hover {
  color: var(--hover-over);
  padding: 10px 0;
  font-size: 18px;
  cursor: pointer;
}

ul li .mat-icon {
  margin-right: 10px;
  transform: translateY(4px);
}

ul {
  min-width: 220px;
  padding: 0;
}
