.footer {
  background-color: var(--background);
  color: var(--primary);
  width: 100%;
  text-align: center;
  padding: 20px 0;
  flex-shrink: 0;
}

.footer__info p {
  margin: 0;
}

.footer__button {
  color: var(--hover-over);
  margin: 0 5px;
}

mat-divider {
  background-color: var(--ripple);
  width: 100%;
}
