<mat-divider></mat-divider>
<div class="footer">
  <div class="footer__info">
    <p>For more information about Angular framework visit angular.io website</p>
    <p>Super-powered by Google 2010-2024</p>
  </div>
  <div class="footer__buttons">
    <button mat-icon-button class="footer__button" onClick="window.location.href='https://angular.io/'">
      <mat-icon>public</mat-icon>
    </button>
    <button mat-icon-button class="footer__button" onClick="window.location.href='https://angular.io/docs'">
      <mat-icon>school</mat-icon>
    </button>
    <button mat-icon-button class="footer__button" onClick="window.location.href='https://twitter.com/angular'">
      <mat-icon>people</mat-icon>
    </button>
  </div>
</div>
