<div class="footer" #footer>
  <div class="footer__info">
    <p>For more information about Angular framework visit angular.io website</p>
    <p>Super-powered by Google @2010-2024</p>
  </div>
  <div class="footer__buttons">
    <button mat-icon-button class="footer__button" onclick="window.location.href='https://angular.io/'">
      <mat-icon>public</mat-icon>
    </button>
    <button mat-icon-button class="footer__button" onclick="window.location.href='https://angular.io/docs'">
      <mat-icon>school</mat-icon>
    </button>
    <button mat-icon-button class="footer__button" onclick="window.location.href='https://twitter.com/angular'">
      <mat-icon>people</mat-icon>
    </button>
  </div>
</div>


<!--<div class="footer" #footer fxLayout="row" fxLayoutAlign="space-between">-->
<!--  <div fxFlex="70" class="info" fxLayout="row" fxLayoutGap="10px" fxFlexAlign="center" fxLayout.xs="column">-->
<!--    <p>For more information about Angular framework visit our angular.io website</p>-->
<!--    <p>Super-powered by Google ©2010-2022</p>-->
<!--  </div>-->
<!--  <div class="buttons" fxLayout="row" fxFlexAlign="center" fxLayoutGap="20px">-->
<!--    <button mat-icon-button onclick="window.location.href='https://angular.io/'">-->
<!--      <mat-icon>public</mat-icon>-->
<!--    </button>-->
<!--    <button mat-icon-button onclick="window.location.href='https://angular.io/docs'">-->
<!--      <mat-icon>school</mat-icon>-->
<!--    </button>-->
<!--    <button mat-icon-button onclick="window.location.href='https://twitter.com/angular'">-->
<!--      <mat-icon>people</mat-icon>-->
<!--    </button>-->
<!--  </div>-->
<!--</div>-->
