<ng-container *ngIf="user">
  <p>Hello {{user.name}}</p>
  <p>Your login: {{user.login}}</p>
  <p>Name of your country: {{user.country}}</p>
  <p>Your age: {{user.age}}</p>

<!--  <div FxLayout="column" fxLayoutGap="30px">-->
<!--    <div fxLayout="row" fxLayoutGap="30px" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="center">-->
<!--      <p>Hello <b>{{user.name}}</b></p>-->
<!--      <p>Your login: <b>{{user.login}}</b></p>-->
<!--    </div>-->
<!--    <div fxLayout="row" fxLayoutGap="30px" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="center">-->
<!--      <p>Name of your country: <b>{{user.country}}</b></p>-->
<!--      <p>Your age: <b>{{user.age}}</b></p>-->
<!--    </div>-->
<!--  </div>-->

</ng-container>
