h4 {
  text-align: center;
  position: relative;
  color: #333333;
  width: 100%;
  font-size: 1.4rem;
}

p {
  font-weight: bold;
  justify-content: center;
  margin-left: 5px;
  width: 100%;
}

p span {
  font-weight: normal;
}
