h3 {
  text-align: center;
  color: #333333;
  width: 100%;
  font-size: 1.4rem;
  padding: 1rem;
}

p {
  font-weight: bold;
  justify-content: center;
  padding: 1rem;

  margin: 0 auto;
}

p span {
  font-weight: normal;
}
