.app-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #212121;
  border-bottom: 2px solid #e3d5c5;
}

.app-header button {
  margin-right: auto;
}

.app-title {
  flex: 1;
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--primary-light);
  text-align: center;
}
