<div class="userdata">
  <div class="form-container">
    <form (ngSubmit)="openDialog()" #f="ngForm" class="user-form">
      <div id="form-content">
        <mat-form-field appearance="outline" class="form-group">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Name" ngModel name="name" required>
        </mat-form-field>
        <mat-form-field appearance="outline" class="form-group">
          <mat-label>Login</mat-label>
          <input matInput placeholder="Login" type="text" id="login" class="form-control" ngModel name="login" required>
        </mat-form-field>
        <mat-form-field appearance="outline" class="form-group">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Password" type="password" id="password" class="form-control" ngModel name="password" required>
        </mat-form-field>
        <mat-form-field appearance="outline" class="form-group">
          <mat-label>Country</mat-label>
          <input matInput placeholder="Country" type="text" id="country" class="form-control" ngModel name="country" required>
        </mat-form-field>
        <mat-form-field appearance="outline" class="form-group">
          <mat-label>Age</mat-label>
          <input matInput placeholder="Age" type="number" id="age" class="form-control" ngModel name="age" required>
        </mat-form-field>
        <div class="submit-button">
          <button mat-raised-button [disabled]="!f.valid">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>

<!--<div class="userdata">-->
<!--  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">-->
<!--    <form (ngSubmit)="openDialog()" #f="ngForm">-->
<!--      <div class="divcss" fxLayout="column" fxLayoutGap="50px">-->
<!--        <div fxLayout="row" fxLayoutGap="50px" fxLayout.xs="column">-->
<!--          <mat-form-field appearance="outline" fxFlex fxLayoutAlign="center">-->
<!--            <mat-label>Name</mat-label>-->
<!--            <input matInput placeholder="Name" ngModel name="name" required>-->
<!--          </mat-form-field>-->
<!--          <mat-form-field appearance="outline" class="form-group" fxFlex fxLayoutAlign="center">-->
<!--            <mat-label>Login</mat-label>-->
<!--            <input matInput placeholder="Login" type="text" id="login" class="form-control" ngModel name="login" required>-->
<!--          </mat-form-field>-->
<!--        </div>-->
<!--        <div fxLayout="row" fxLayoutGap="50px" fxLayout.xs="column">-->
<!--          <mat-form-field appearance="outline" class="form-group" fxFlex fxLayoutAlign="center">-->
<!--            <mat-label>Password</mat-label>-->
<!--            <input matInput placeholder="Password" type="password" id="password" class="form-control" ngModel name="password" required>-->
<!--          </mat-form-field>-->
<!--          <mat-form-field appearance="outline" class="form-group" fxFlex fxLayoutAlign="center">-->
<!--            <mat-label>Country</mat-label>-->
<!--            <input matInput placeholder="Country" type="text" id="country" class="form-control" ngModel name="country" required>-->
<!--          </mat-form-field>-->
<!--        </div>-->
<!--        <div fxLayout="row" fxLayoutGap="50px" fxLayout.xs="column">-->
<!--          <mat-form-field appearance="outline" class="form-group" fxFlex fxLayoutAlign="center">-->
<!--            <mat-label>Age</mat-label>-->
<!--            <input matInput placeholder="Age" type="number" id="age" class="form-control" ngModel name="age" required>-->
<!--          </mat-form-field>-->
<!--          <div class="submit-button" fxFlex fxLayoutGap="50px" fxLayoutAlign="center">-->
<!--            <button mat-raised-button [disabled]="!f.valid">Submit</button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </form>-->
<!--  </div>-->
<!--</div>-->
