<div class="userdata">
  <div class="form-container">
    <form (ngSubmit)="onFormSubmit(f)" #f="ngForm" class="user-form">
      <div id="form-content">
        <mat-form-field appearance="outline" class="form-group">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Name" ngModel name="name" required>
        </mat-form-field>
        <mat-form-field appearance="outline" class="form-group">
          <mat-label>Login</mat-label>
          <input matInput placeholder="Login" type="text" id="login" class="form-control" ngModel name="login" required>
        </mat-form-field>
        <mat-form-field appearance="outline" class="form-group">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Password" type="password" id="password" class="form-control" ngModel name="password" required>
        </mat-form-field>
        <mat-form-field appearance="outline" class="form-group">
          <mat-label>Country</mat-label>
          <input matInput placeholder="Country" type="text" id="country" class="form-control" ngModel name="country" required>
        </mat-form-field>
        <mat-form-field appearance="outline" class="form-group">
          <mat-label>Age</mat-label>
          <input matInput placeholder="Age" type="number" id="age" class="form-control" ngModel name="age" required>
        </mat-form-field>
        <div class="submit-button">
          <button mat-raised-button type="submit" [disabled]="!f.valid">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
