p {
  color: #2F3C7E;
  text-indent: 40px;
  font-weight: 600;
}

p b {
  color: #a64dff;
}

button {
  margin-top: 30px;
}

.user-not-created {
  text-align: center;
  margin: 30px auto;
}

.button-user-not-created {
  display: flex;
  text-align: center;
  margin: auto;
}
