html, body { height: 100%; width: 100%; }
body {
  margin: 0 auto;
  padding: 0;
  position: relative;
  min-height: 100vh;
}

button, textarea, input, select {
  font-size: 100%;
  font-family: inherit;
}

.red {
  border: 1px solid red;
}

div, ul, p, li {
  margin: 0;
}
