<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form">
  <mat-card class="card">
    <mat-card-header class="card__header">
      <mat-card-title class="card__title">Log In</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>
        <mat-form-field class="card__input">
          <input matInput placeholder="Enter Your Login" type="text" id="login" formControlName="login" class="form-control">
        </mat-form-field>
        <mat-form-field class="card__input">
          <input matInput placeholder="Enter Your Password" [type]="hide ? 'password' : 'text'" id="password" formControlName="password" class="form-control">
          <mat-icon matSuffix (click)="hide = !hide">{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button type="submit" class="card__button">LOGIN</button>
    </mat-card-actions>
  </mat-card>
</form>
